.homeLoggedOutMobileV {
    width: 100%;
    height: 10443px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 36px;
    color: #161411;
    font-family: 'DM Sans';
}
.autolayoutFrame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    flex-shrink: 0;
}
.navbar {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
}
.navbarTop {
    align-self: stretch;
    background-color: #fffefc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 0px 20px;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 0px 8px;
    box-sizing: border-box;
    gap: 2px;
    max-width: 100%;
}
.logoWrapper {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo {
    height: 32px;
    width: 37px;
    position: relative;
}
.vectorGroupIcon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.navIcons {
    width: 40px;
    display: flex;
    align-items: flex-start;
}
.navLinkicon {
    width: 52px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 4px;
}
.iconwrapper {
    display: flex;
    align-items: flex-start;
}
.icon {
    width: 24px;
    position: relative;
    max-height: 100%;
}
.borderBottom {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: #fffefc;
}
.mobileMenuWrapper {
    height: 48px;
    width: 48px;
}
.sectionHero {
    width: 375px;
    background-color: #00473d;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    isolation: isolate;
    gap: 20px;
    z-index: 9;
    text-align: left;
    font-size: 16px;
    color: #fffefc;
    font-family: Inter;
}
.contentWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 20px 20px;
    gap: 24px;
    z-index: 0;
}
.content2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.headingHero {
    align-self: stretch;
    position: relative;
    font-size: 40px;
    line-height: 125%;
    font-family: 'DM Sans';
}
.text {
    align-self: stretch;
    position: relative;
    line-height: 160%;
}
.buttonRow {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 20px;
    color: #332f29;
}
.button {
    align-self: stretch;
    height: 64px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
}
.button2 {
    align-self: stretch;
    flex: 1;
    border-radius: 12px;
    background-color: #ffa454;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 24px;
}
.button3 {
    align-self: stretch;
    height: 64px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    color: #ffa454;
}
.button4 {
    align-self: stretch;
    flex: 1;
    border-radius: 12px;
    border: 2px solid #fc8c30;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 24px;
}
.illustrationIcon {
    align-self: stretch;
    height: 303px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.snapEbt {
    width: 96px;
    height: 96px;
    position: absolute;
    margin: 0 !important;
    top: 700px;
    left: 25px;
    z-index: 2;
    text-align: center;
    font-size: 15.12px;
    color: #161411;
    font-family: Lexend;
}
.ellipse {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #c5dc5f;
    width: 96px;
    height: 96px;
}
.snapebtAccepted {
    position: absolute;
    top: 40.08%;
    left: 4.39%;
    transform:  rotate(-12deg);
    transform-origin: 0 0;
}
.sectionHowItWorks {
    align-self: stretch;
    background-color: #d5e68b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px 80px;
    position: relative;
    isolation: isolate;
    gap: 40px;
    z-index: 8;
}
.orangeSliceIcon {
    width: 24.99%;
    position: absolute;
    margin: 0 !important;
    height: 11.81%;
    top: 10.15%;
    right: 82.41%;
    bottom: 78.04%;
    left: -7.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 0;
    flex-shrink: 0;
}
.heading {
    align-self: stretch;
    position: relative;
    line-height: 125%;
    z-index: 1;
    flex-shrink: 0;
}
.content3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    flex-shrink: 0;
    font-size: 24px;
    color: #47433a;
}
.row {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.howItWorksCard {
    align-self: stretch;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.05), 0px 2px 8px -2px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background-color: #f8fbe9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}
.text6 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 160%;
    font-family: Inter;
    color: #332f29;
}
.sectionSnap {
    align-self: stretch;
    background-color: #fff9f0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 64px 20px 104px;
    position: relative;
    isolation: isolate;
    gap: 40px;
    z-index: 7;
    font-size: 20px;
    color: #332f29;
}
.breadIcon {
    width: 38.13%;
    position: absolute;
    margin: 0 !important;
    height: 32.85%;
    top: 67.48%;
    right: 0.01%;
    bottom: -0.33%;
    left: 61.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    z-index: 0;
    flex-shrink: 0;
}
.contentWrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    z-index: 1;
    flex-shrink: 0;
}
.actions {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-size: 16px;
    color: #fffefc;
    font-family: Inter;
}
.button5 {
    align-self: stretch;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
}
.button6 {
    flex: 1;
    border-radius: 12px;
    background-color: #00473d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.button7 {
    align-self: stretch;
    border-radius: 12px;
    background-color: #fff9f0;
    display: flex;
    align-items: flex-start;
    color: #00473d;
}
.button8 {
    flex: 1;
    border-radius: 12px;
    border: 2px solid #00473d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.sectionProducts {
    align-self: stretch;
    background-color: #fffefc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px 80px;
    gap: 64px;
    z-index: 6;
    font-size: 16px;
    font-family: Inter;
}
.categoryWrapper {
    align-self: stretch;
    height: 114px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 12px;
}
.arrowBackIosIcon {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 24px;
    height: 24px;
}
.categoryCardRow {
    position: absolute;
    top: 0px;
    left: 24px;
    width: 287px;
    height: 114px;
    overflow: hidden;
}
.categoryRow {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}
.categoryCard {
    width: 80px;
    box-shadow: 0px 4px 8px -2px rgba(126, 141, 120, 0.01), 0px 2px 4px -2px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageAndButtonWrapper {
    box-shadow: 0px 4px 8px -2px rgba(126, 141, 120, 0.01), 0px 2px 4px -2px rgba(0, 0, 0, 0.03);
    border-radius: 24px;
    background-color: #fff1de;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 8px;
}
.categoryIllustrations {
    height: 64px;
    width: 64px;
    position: relative;
}
.frameIcon {
    position: absolute;
    top: calc(50% - 32.65px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
}
.contentBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itemName {
    position: relative;
    line-height: 150%;
    font-weight: 600;
}
.frameIcon2 {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
}
.imageAndButtonWrapper3 {
    box-shadow: 0px 4px 8px -2px rgba(126, 141, 120, 0.01), 0px 2px 4px -2px rgba(0, 0, 0, 0.03);
    border-radius: 24px;
    background-color: #fff1de;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 8px;
    flex-shrink: 0;
}
.categoryIllustrations3 {
    height: 64px;
    width: 64px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.contentBottom3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    flex-shrink: 0;
}
.arrowForwardIosIcon {
    position: absolute;
    top: 28px;
    right: 0px;
    width: 24px;
    height: 24px;
}
.title {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 36px;
    font-family: 'DM Sans';
}
.content8 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading5 {
    position: relative;
    line-height: 125%;
}
.button9 {
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    line-height: 150%;
    font-family: Inter;
    color: #332f29;
    text-align: left;
}
.content9 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
    color: #332f29;
}
.row2 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px;
}
.productCard {
    box-shadow: 0px 4px 8px -2px rgba(126, 141, 120, 0.01), 0px 2px 4px -2px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    background-color: #faf8f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imageWrapper {
    width: 160px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 8px 0px;
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
}
.imageIcon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 0;
    flex-shrink: 0;
}
.addToCartButtonclosed {
    margin: 0 !important;
    position: absolute;
    top: 80px;
    left: 116px;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.05), 0px 2px 8px -2px rgba(0, 0, 0, 0.06);
    border-radius: 40px;
    background-color: #b3cf34;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    z-index: 1;
    flex-shrink: 0;
}
.contentBottom9 {
    align-self: stretch;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    box-sizing: border-box;
    gap: 12px;
}
.details {
    width: 136px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: 20px;
}
.price {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    flex-shrink: 0;
}
.description {
    position: relative;
    font-size: 14px;
    line-height: 150%;
    flex-shrink: 0;
}
.title2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    font-size: 36px;
    font-family: 'DM Sans';
}
.content10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.heading6 {
    position: relative;
    line-height: 120%;
    font-weight: 600;
}
.button10 {
    position: relative;
    font-size: 16px;
    text-decoration: underline;
    line-height: 150%;
    font-weight: 600;
    font-family: Inter;
    text-align: left;
}
.row3 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px 15px;
    color: #161411;
}
.details4 {
    width: 136px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: 20px;
    color: #332f29;
}
.description4 {
    position: relative;
    font-size: 14px;
    line-height: 150%;
    color: #47433a;
    flex-shrink: 0;
}
.button12 {
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    color: #fffefc;
}
.button13 {
    border-radius: 12px;
    background-color: #00473d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.sectionBenefits {
    align-self: stretch;
    background-color: #fff9f0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px 24px;
    z-index: 5;
    text-align: left;
    font-size: 18px;
}
.content12 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    max-width: 100%;
}
.imageIcon12 {
    align-self: stretch;
    position: relative;
    border-radius: 32px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.text13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}
.heading8 {
    align-self: stretch;
    position: relative;
    font-size: 28px;
    line-height: 120%;
}
.sectionTestimonial {
    align-self: stretch;
    background-color: #fff9f0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 120px;
    position: relative;
    isolation: isolate;
    gap: 80px;
    z-index: 4;
    text-align: left;
    font-size: 18px;
    color: #332f29;
}
.content15 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    z-index: 0;
    flex-shrink: 0;
}
.content16 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.stars {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    gap: 4px;
}
.vectorIcon {
    height: 18.9px;
    width: 20px;
    position: relative;
}
.quote {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}
.avatarContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-family: Inter;
}
.text16 {
    position: relative;
    line-height: 160%;
    font-weight: 600;
}
.text17 {
    position: relative;
    line-height: 160%;
}
.carrotIcon {
    width: 29.12%;
    height: 12.56%;
    position: absolute;
    margin: 0 !important;
    top: 84.53%;
    right: 0.75%;
    bottom: 2.91%;
    left: 70.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
    flex-shrink: 0;
}
.sectionFaq {
    align-self: stretch;
    background-color: #d5e68b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px;
    z-index: 3;
}
.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 100%;
}
.heading11 {
    align-self: stretch;
    position: relative;
    line-height: 125%;
}
.faqItems {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    text-align: left;
    font-size: 16px;
    color: #47433a;
    font-family: Inter;
}
.accordionItem {
    align-self: stretch;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    background-color: #f8fbe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
}
.content17 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}
.question {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    gap: 24px;
}
.text19 {
    flex: 1;
    position: relative;
    line-height: 160%;
    font-weight: 600;
}
.icon2 {
    height: 32px;
    width: 32px;
    position: relative;
}
.content23 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 20px;
    color: #332f29;
}
.content24 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.text25 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 160%;
    font-family: Inter;
}
.button14 {
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    color: #00473d;
    font-family: Inter;
}
.button15 {
    border-radius: 12px;
    border: 2px solid #00473d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.sectionContact {
    align-self: stretch;
    background-color: #fffefc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px;
    gap: 48px;
    z-index: 2;
    color: #000;
}
.sectionTitle2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content25 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 100%;
}
.text27 {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    font-family: Inter;
}
.form {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: left;
    font-size: 16px;
    color: #332f29;
    font-family: Inter;
}
.required {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 150%;
}
.inputs {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.inputField {
    align-self: stretch;
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.inputText {
    align-self: stretch;
    border-radius: 4px;
    background-color: #fffefc;
    border: 1px solid #47433a;
    display: flex;
    align-items: flex-start;
    padding: 8px 12px;
}
.content26 {
    height: 24px;
    flex: 1;
    display: flex;
    align-items: center;
}
.inputRadioGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.radios {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 16px;
}
.inputRadio {
    display: flex;
    align-items: center;
}
.selectionWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}
.inputText5 {
    align-self: stretch;
    height: 120px;
    border-radius: 4px;
    background-color: #fffefc;
    border: 1px solid #47433a;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 8px 12px;
    position: relative;
    isolation: isolate;
    gap: 8px;
    min-height: 120px;
    color: #999489;
}
.content30 {
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 0;
    flex-shrink: 0;
}
.placeholder {
    flex: 1;
    position: relative;
    line-height: 145%;
}
.multilineIcon {
    height: 6px;
    width: 6px;
    position: absolute;
    margin: 0 !important;
    right: 4px;
    bottom: 4px;
    z-index: 1;
    flex-shrink: 0;
}
.button16 {
    align-self: stretch;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: #fffefc;
}
.sectionCta {
    align-self: stretch;
    background-color: #00352e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 20px 140px;
    position: relative;
    isolation: isolate;
    z-index: 1;
    color: #fffefc;
}
.foodBackgroundIcon {
    width: 305.7px;
    height: 580.7px;
    position: absolute;
    margin: 0 !important;
    top: 27.42px;
    left: 43px;
    z-index: 0;
    flex-shrink: 0;
}
.content31 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    z-index: 1;
    flex-shrink: 0;
}
.actions2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-size: 16px;
    color: #332f29;
    font-family: Inter;
}
.button19 {
    flex: 1;
    border-radius: 12px;
    background-color: #fffefc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.button20 {
    align-self: stretch;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    color: #fffefc;
}
.button21 {
    flex: 1;
    border-radius: 12px;
    border: 2px solid #fffefc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.footer {
    align-self: stretch;
    background-color: #f1f7d9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 20px;
    gap: 40px;
    z-index: 0;
    text-align: left;
    font-size: 16px;
    color: #332f29;
    font-family: Inter;
}
.content33 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}
.links {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.column {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo2 {
    width: 90.1px;
    height: 78px;
    position: relative;
}
.footerLinks {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
}
.column2 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.columnTwo {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
}
.link {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    padding: 8px 0px;
}
.linkEight {
    flex: 1;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.newsletter {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.subscribeParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.actions3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #999489;
}
.inputField7 {
    align-self: stretch;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputText6 {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background-color: #fffefc;
    border: 1px solid #47433a;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}
.button23 {
    flex: 1;
    border-radius: 12px;
    background-color: #332f29;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.bySubscribingYou {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    color: #332f29;
}
.credits {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-size: 14px;
}
.divider {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: #00473d;
    border: 1px solid #00473d;
    box-sizing: border-box;
}
.credits2 {
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 12px 24px;
}
.relumeAllRights {
    position: relative;
    line-height: 150%;
}
.privacyPolicy {
    position: relative;
    text-decoration: underline;
    line-height: 150%;
}
.socialLinks {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.socialIconIconFacebook {
    height: 24px;
    width: 24px;
    position: relative;
}

