RAILS_ENV=XXXXXXXX
DATABASE_HOST=XXXXXXXX
DATABASE_USERNAME=XXXXXXXX
DATABASE_PASSWORD=XXXXXXXX
DATABASE_NAME=XXXXXXXX
JWT_SECRET=XXXXXXXX
ADMIN_UNAUTHORIZED_REDIRECT_URL=http://localhost:4000 # React Frontend URL